<div class="card-panel brown lighten-1 z-depth-2">
    <div class="row">
        <div class="col m5 s6">
            <img style="width: 10em" class="circle responsive-image" src="/img/perfil.jpg">
        </div>
        <div class="col m7 s6 right white-text">
            <h4>Cesar Augusto Granelli</h4>
            <p class="right white-text">
                Idade: 38 anos<br />
                Estado Civil: Casado<br />
                Contatos: Cel.: (11) 9-5040-3775 - E-mail: cesargranelli@gmail.com
            </p>
        </div>
    </div>
</div>
<div class="card-panel z-depth-1">
    <blockquote class="card-panel z-depth-2" style="border-color: #66bb6a">
        <ul>
            <h5>Analista de Sistemas com experiência em análise de dados:</h5>
            <ol>+Normapzação 3NF</ol>
            <ol>+Desenvolvimento ETL</ol>
            <ol>+Construção de DWs e DMs</ol>
            <ol>+Customização/Tunnings de scripts PL/SQL, PKGs, FUNCTIONS e PROCEDURE</ol>
            <ol>+Modelagem de Dados: Relacional, Dimencional e Multidimencional (StarSchema & SnowFlake)</ol>
        </ul>
    </blockquote>
    <blockquote class="card-panel z-depth-2" style="border-color: #d4e157">
        <ul>
            <h5>Linguagens/Tecnologias:</h5>
            <ol>+PHP Intermediário</ol>
            <ol>+JAVA Básico</ol>
            <ol>+HTML</ol>
            <ol>+CSS</ol>
            <ol>+JavaScript</ol>
        </ul>
    </blockquote>
    <blockquote class="card-panel z-depth-2" style="border-color: #42a5f5">
        <ul>
            <h5>Formação Acadêmica</h5>
            <ol><strong>Graduação em Sistemas de Informação</strong> – conclusão em dez/2012</ol>
            <ol>Universidade UNIBAN/Anhanguera – Campus Vila Mariana</ol>
        </ul>
        <ul>
            <ol><strong>Técnico em Eletrônica</strong> – concluído em 2005</ol>
            <ol>ETEC Getúlio Vargas – Unidade Ipiranga</ol>
        </ul>
    </blockquote>
    <blockquote class="card-panel z-depth-2">
        <ul>
            <h5>Últimas empresas</h5>
            <ol><strong>Net Serviços de Comunicação S/A:</strong> 2010 – Ocupação atual</ol>
            <ol>Empresa nacional de grande porte do segmento de Telecomunicações</ol>
        </ul>
        <ul>
            <ol><strong>Net São Paulo LTDA</strong> – 2006 - 2010</ol>
            <ol>Empresa nacional de grande porte do segmento de Telecomunicações</ol>
        </ul>
        <ul>
            <ol><strong>Nec Solutions do Brasil</strong> – 2005 - 2006</ol>
            <ol>Empresa multinacional de grande porte do segmento de Telecomunicações</ol>
        </ul>
    </blockquote>
</div>
