<main>
  <div class="row">
    <div class="navbar-fixed">
      <nav [class]="color_toolbar">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center hoverable"><i class="material-icons">polymer</i></a>
          <a href="#!" data-activates="mobile-sevenine" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="/perfil"><i class="material-icons left">person</i>Perfil</a></li>
            <li><a href="/projetos"><i class="material-icons left">store</i>Projetos</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a href="/trabalhos"><i class="material-icons right">done</i>Trabalhos</a></li>
            <li><a href="/estudos"><i class="material-icons right">dashboard</i>Estude!</a></li>
          </ul>
          <ul class="side-nav" id="mobile-sevenine">
            <li><a href="/perfil"><i class="material-icons left">person</i>Perfil</a></li>
            <li><a href="/projetos"><i class="material-icons left">store</i>Projetos</a></li>
            <li><a href="/trabalhos"><i class="material-icons left">done</i>Trabalhos</a></li>
            <li><a href="/estudos"><i class="material-icons left">dashboard</i>Estude!</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</main>