<div class="card medium">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="/img/into_tanacesta.png">
	</div>
	<div class="card-content">
		<span class="card-title activator orange-text text-darken-1">Tánacesta<i class="material-icons right">more_vert</i></span>
		<p><a href="http://www.tanacestafrutas.com.br" target="_blank">visite o site</a></p>
	</div>
	<div class="card-reveal">
		<span class="card-title orange-text text-darken-1">Tánacesta<i class="material-icons right">close</i></span>
		<p>Delivery de frutas higienizadas e cortadas prontas para consumo. Frutas selecionadas direto do Ceagesp, entregas na empresa ou na sua casa. Saladas de frutas e combo de frutas com potes selados!</p>
	<div class="card-image waves-effect waves-block waves-light">
		<img src="/img/two_tanacesta.png">
	</div>
	</div>
</div>
