<div class="row">
	<div class="col m6 s12">
		<div class="card small hoverable">
			<div class="card-image brown lighten-1">
				<span class="card-title">
					<i class="large material-icons left">person</i>Perfil
				</span>
			</div>
			<div class="card-content">
				<p>Acesse o perfil para conhecer um pouco mais sobre o desenvolvedor</p>
			</div>
			<a href="/perfil">
				<div class="card-action waves-effect waves-block">
					<i class="material-icons right">send</i>Visite o Perfil
				</div>
			</a>
		</div>
	</div>
	<div class="col m6 s12">
		<div class="card small hoverable">
			<div class="card-image orange lighten-1">
				<span class="card-title">
					<i class="large material-icons left">store</i>Projetos
				</span>
			</div>
			<div class="card-content">
				<p>Confira alguns dos meus projetos/ideias em andamento</p>
			</div>
			<a href="/projetos">
				<div class="card-action waves-effect waves-block">
					<i class="material-icons right">send</i>Veja meus Projetos
				</div>
			</a>
		</div>
	</div>
	<div class="col m6 s12">
		<div class="card small hoverable">
			<div class="card-image green lighten-1">
				<span class="card-title">
					<i class="large material-icons left">done</i>Trabalhos
				</span>
			</div>
			<div class="card-content">
				<p>Aqui estão alguns dos meus trabalhos entregues</p>
			</div>
			<a href="/trabalhos">
				<div class="card-action waves-effect waves-block">
					<i class="material-icons right">send</i>Veja meus trabalhos
				</div>
			</a>
		</div>
	</div>
	<div class="col m6 s12">
		<div class="card small hoverable">
			<div class="card-image red lighten-1">
				<span class="card-title">
					<i class="large material-icons left">dashboard</i>Estude!
				</span>
			</div>
			<div class="card-content">
				<p>Conteúdo para vcê estudar e aprender mais sobre práticas de desenvolvimento feito por profissionais da área</p>
			</div>
			<a href="/estude">
				<div class="card-action waves-effect waves-block">
					<i class="material-icons right">send</i>Acesse os conteúdos gratuitamente
				</div>
			</a>
		</div>
	</div>
</div>
