<!--
<div class="card-panel">
	<div class="row">
		<div class="col s12 m8 video-responsive">
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col s12 m4">
			<p><h4>Tudo sobre AngularJS</h4></p>
			<p>por Rodrigo Branas 14 vídeos 30.321 visualizações</p>
		</div>
	</div>
</div>
<div class="card-panel">
	<div class="row">
		<div class="col s12 m8">
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFJmwzuHdBRSnJE2_rGG3L3wl1gcdgyEN" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col s12 m4">
			<p><h4>Screencasts do Vedovelli</h4></p>
			<p>por Fabio Vedovelli 21 vídeos 1.766 visualizações</p>
		</div>
	</div>
</div>
-->
